 <div class="center"> 
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag listing.image.url %>
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= number_to_currency(listing.price) %></p>
            <%= link_to 'Show', listing, class: "btn btn-link" %>
            <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>
            <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- Do not need multiple class="col-md-3" because we are using a loop to cycle our listings -->
<!-- Our HTML table relies on a loop, the listings.each do |listing| part -->
<!-- number_to_currency to convert numbers to dollars in Ruby -->
<!-- for each listing, we take the user of that listing and pull the name of that user -->
 
<br>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>